div.col-md-4.line-blue{
  height:5px;
}

div.line-blue{
  background-color:#00b0cc;
}

div.line-yellow{
  background-color:#ffca05;
}

div.line-red{
  background-color:#f05b5b;
}

div.line{
  height:4px;
}

div.col-md-4.lines{
  padding-left:0;
  padding-right:0;
  margin-left:0;
  margin-right:0;
}

div.line.red{
  background-color:#f05b5b;
}

div.line.blue{
  background-color:#00b0cc;
}

div.line.yellow{
  background-color:#ffca05;
}

h1.title.text-center{
  padding-bottom:20px;
}

section#parceiros{
  margin-top:20px;
  display:block;
}

h1.text-center.equipe-cargo{
  font-weight:800;
  color:#f5f5f5;
  margin-top:10px;
  padding:0;
  text-transform:none;
}

h1.text-center.equipe-nome{
  margin-top:0px;
  font-family:'Signika';
  text-transform:none;
  color:#f5f5f5;
  font-weight:100;
}

div.col-md-2.equipe{
  margin-top:10px;
}

h1.ano{
  font-size:50px;
  color:#f05b5b;
  font-family:'Raleway';
}

div.col-md-6.historico-image{
  max-height:200px;
  overflow:hidden;
}

div.container-fluid.quemsomos{
  background-color:#666;
  padding:50px 150px;
  background-image:url(../../assets/img/Foto-Ettibagi-5.jpg);
  background-repeat:no-repeat;
  background-position:50%;
  background-size:cover;
}

h1.quemsomos{
  font-family:'Signika';
  font-size:35px;
  color:#fff;
  text-align:center;
}

h1.title{
  font-size:35px;
  text-transform:none;
  font-family:'Raleway';
  text-transform:uppercase;
}

a.btn.btn-info.margin-left{
  margin-left:20px;
}

div.container-fluid.lines{
  padding-bottom:20px;
}

h1.contrate.porque{
  font-family:'Signika';
  font-size:42px;
  text-transform:none;
}

h1.contrate.porque{
  font-family:'Signika';
}

h1.title.porque{
  font-size:35px;
}

section.saibamais{
  padding:30px 0;
  margin:0;
  box-shadow:inset 0 1px 3px rgba(0,0,0,.1);
}

h1.title.saibamais{
  color:#17454C;
}

p.saibamais{
  color:#00424C;
}

div.col-md-4.saibamais{
  margin-top:3em;
}

section.formacoes{
  background-color:#f5f5f5;
  padding:30px 0;
  margin:0;
  box-shadow:inset 0 1px 3px rgba(0,0,0,.1);
}

p.text-white{
  color:#fff;
}

h1.title.aprendiz{
  color:#fff;
}

h2.title.aprendiz{
  color:#fff;
}

footer.footer{
  margin-top:0;
  font-size:small;
  margin-bottom:50px;
}

footer a{

  text-decoration: none;
  color: #404040;

}

section#historico{
  padding:50px 20px;
  background-color:#f5f5f5;
  box-shadow:inset 0 1px 3px rgba(0,0,0,.1);
}

div.row.timeline{
  padding:50px 100px;
}

section#equipe{
  background-color:#f05b5b;
  padding:20px 20px;
  box-shadow:inset 0 2px 10px rgba(0,0,0,.1);
  margin:0;
}

section#reconhecimento{
  padding:30px 20px;
  box-shadow:inset 0 2px 3px rgba(0,0,0,.1);
  margin:0;
  background-color:#f5f5f5;
}

h1.missao{
  font-size:24px;
  font-family:'Raleway';
  text-transform:uppercase;
  font-weight:800;
}

div.row.historico{
  padding:50px 10px;
}

h1.text-center.title.text-white{
  color:#f5f5f5;
}

div.col-md-6.contato-setor{
  height:150px;
}

section.setores{
  background-color:#f5f5f5;
  padding:40px;
  box-shadow:inset 0 1px 3px rgba(0,0,0,.1);
}

div.col-md-3.setor{
  color:#404040;
}

h1.setor{
  color:#404040;
  font-family:'Signika';
  text-transform:none;
  font-size:20px;
}

div.col-lg-3.col-md-4.setor{
  color:#404040;
  height:150px;
  padding:20px 0px;
}

.carousel-inner{
  position:relative;
  width:100%;
  overflow:hidden;
}

div.img-responsive.video{
  height:400px;
}

div.video{
  height:400px;
  overflow:hidden;
  max-width:100%;
}

div.curso{
  margin-bottom:50px;
  margin-top:30px;
}

img.img-fluid{
  max-width:100%;
  height:auto;
}

.page-row{
  margin-bottom:30px;
}

.icone{
  font-size:25px;
}

.tab-curso{
  margin-top:20px;
}

ul.list-unstyled.cursos-relacionados{
  padding:20px;
}

div.col-lg-4.col-md-5.detalhe{
}

detalheCurso{
  background-color:#bbbbbb;
}

div.col-lg-4.col-md-5.detalheCurso{
  background-color:#eee;
  margin-top:20px;
}

img.img-responsive.equipe{
  box-shadow:inset 0 1px 3px rgba(0,0,0,.1);
}

