.navbar{
  position:relative;
  min-height:100px;
  margin-bottom:20px;
}

.navbar-default{
  background-color:#fff;
}

.nav{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}

.navbar-nav{
  margin:30px -15px;
  font-weight:500;
}

.navbar-fixed-top{
  top:0;
  border-width:0 0 0;
}

.navbar-brand{
  float:left;
  height:auto;
  padding:15px 15px;
  font-size:18px;
  line-height:20px;
}

.navbar-toggle{
  position:relative;
  float:right;
  padding:9px 10px;
  margin-top:50px;
  margin-right:15px;
  margin-bottom:8px;
  background-color:transparent;
  background-image:none;
  border:1px solid transparent;
  border-radius:4px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family:'Raleway';
  font-weight:600;
  line-height:1.1;
  color:#231f20;
  font-size:medium;
}

body{
  font-family:'Raleway';
  font-size:15px;
  line-height:1.42857143;
  color:#231f20;
  background-color:#fff;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{
  display:block;
  margin-top:20px;
}

span.footer-icons{
  font-size:45px;
  color:#555;
  margin-left:10px;
}

.footer-icons a{
  text-decoration: none;
}


span.footer-phone{
  font-size:18px;
  vertical-align:middle;
}

div.noticia{
  display:block;
  height:auto;
  margin-top:10px;
  float:left;
  padding:10px 0;
  border-bottom:1px solid #eee;
}



div.col-md-8.border-right{
  border-right:1px solid #ccc;
}

div.container-fluid.footer{
  padding:25px;
  background-color:#e8e6e7;
  font-size:small;
}

h1.title-box{
  border-bottom:1px solid #eee;
  padding-bottom:15px;
}

div.icon{
  display:inline-block;
  width:120px;
  font-size:50px;
}

div.counter{
  font-size:50px;
  line-height:50px;
  font-weight:700;
  margin-top:10px;
}

div.container-fluid.status{
  background-image:url(../../assets/img/paralax03.jpg);
}

div.container-fluid.status.parallax{
  background-attachment:fixed;
  background-size:cover;
  background-position:center center;
  float:left;
  width:100%;
  padding:65px 65px;
  color:#fff;
}

h2.parallax-text{
  font-size:26px;
  color:#fff;
}

span.porque{
  font-family:'Signika';
  font-size:50px;
  line-height:1.1;
  font-weight:700;
}

section.porque{
  padding-bottom:30px;
}

